.notify-badge {
  position: absolute;
  right: 80px;
  top: -13px;
  background: #ffb10b;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: black;
  padding: 5px 10px;
  font-size: 10px;
}

.cardTitle {
  font-size: 15px;
  color: black;
}

.card {
  border: none !important;
}

.grey-m {
  background: grey;
  color: white;
}

.anime-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.anime-card-container {
    position: relative;
    border-radius: 4px;
    height: fit-content;
}

.anime-card-container img {
    border-radius: 4px;
}

.anime-card-container a {
    text-decoration: none;
    color: black;
}
.anime-card-container a:hover {
    color: black;
}

.anime-card-title {
    padding: 0.5rem !important;
}

.poster-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
}

.poster-overlay:hover {
    opacity: 1;
    background-image: linear-gradient(to bottom, rgba(76, 85, 138, 0.52), rgba(148, 15, 115, 0.73));
    background-size: auto 200%;
}

.poster-overlay-btn-wrapper {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.poster-overlay-btn-wrapper button {
    width: 30%;
    margin-right: 3%;
}

/* .anime-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.anime-card-container {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  /* padding: .5rem; */
  /* width: 15%;
}
@media (max-width: 1220px) {
  .anime-card-container {
    width: 20%;
  }
}

@media (max-width: 990px) {
  .anime-card-container {
    width: 25%;
  }
} */ 
